body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
}

.navbar-inner{
    background: rgba(0,0,0,0.5);
}

.inner-home{
    padding-top: 20%;
}
.inner-series{
    padding-top: 6%;
}
.window-block {
    border: black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.90);
    padding: 10px 20px;
    color: white;
}

.cover-img{
    width: 100%;
}

.footer{
    padding-top: 50px;
}

.avatar-min{
    width: 20px;
    border-radius: 3px;
    margin-right: 5px;
}