<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 inner-home">
            <div class="window-block">
                <form>
                    <div class="form-group">
                        <label for="serialName">Введите название сериала</label>
                        <input type="text" class="form-control" id="serialName" placeholder="Имя сериала" ng-model="ctrl.serialName" required>
                        <label for="provider">Выберите провайдера</label>
                        <select id="provider" class="form-control" ng-model="ctrl.provider" required>
                            <option value="coldfilm">ColdFilm</option>
                            <option value="lostfilm">LostFilm</option>
                            <option value="newstudio">NewStudio</option>
                        </select>
                    </div>
                    <p class="text-danger" ng-if="ctrl.error">{{ctrl.error}}</p>
                    <button class="btn btn-primary btn-block" ng-click="ctrl.send()" ng-disabled="!ctrl.serialName || !ctrl.provider">Найти</button>
                </form>
            </div>
        </div>
    </div>
</div>