<div id="waiting" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 40%">
            <div class="window-block col-xs-6 col-xs-offset-4">
                <h2 style="text-align: center">Подождите...</h2>
            </div>
        </div>
    </div>
</div>