<div id="waiting" ng-show="false">
    <div class="waiting-block">
        <div class="window-block">
            <h2 style="text-align: center">Подождите...</h2>
        </div>
    </div>
    <div class="modal-backdrop fade in"></div>
</div>